@import "tailwindcss";

* {
  scrollbar-width: thin;
}

.Toastify__toast {
  font-size: 14px !important;
  user-select: none !important;
  min-height: auto !important;
  color: #000 !important;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #000;
}
